@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap");

:root {
  --main-color: #37a69f;
  --black: #555;
  --light-color: #777;
  --bg: #fceae9;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 4rem;
  color: var(--black);
}

.heading span {
  color: var(--main-color);
  border-radius: 0.5rem;
  background: var(--bg);
  padding: 0 1.5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: var(--black);
  z-index: -1;
  transition: 0.2s ease-out;
}

.btn:hover::before {
  left: 0;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
  background: var(--bg);
  position: relative;
}

.home .content {
  flex: 1 1 45rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  line-height: 1.8;
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
  text-align: justify;
}

.home .cloud {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 18rem;
  background-size: 250rem 18rem;
  background: url(../src/assets/images/cloud.png) repeat-x;
  animation: cloud 10s linear infinite;
}

@keyframes cloud {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: -250rem;
  }
}

.home .cloud-1 {
  opacity: 0.5;
  height: 20rem;
  background-size: 250rem 20rem;
  animation-direction: reverse;
  animation-duration: 15s;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 4rem 2rem;
}

.services .box-container .box img {
  height: 10rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 1.8;
}
.services_extra {
  margin-right: 10px;
}
.scroll {
  position: fixed;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
  font-size: 38px;
  background-color: white;
  color: #202c37;
  border-radius: 50%;
  transition: all 0.2s;
}
/* .services_carousel {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 40px;
  margin: auto;
} */
/* .services__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
} */

.services__small {
  width: 40px;
  height: 40px;
}

.filter_service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.filter_service_input {
  position: relative;
  display: flex;
  align-items: center;
}

.filter_service_input svg.search_outline {
  position: absolute;
  font-size: 20px;
  color: #858585;
  left: 25px;
  top: 22px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.filter_service_input input {
  width: 320px;
  height: 48px;
  padding-left: 55px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 24%);
  transition: all 0.2s;
}

.filter_service_input input::placeholder {
  color: #858585;
}

.filter_service_input svg.close-input {
  position: absolute;
  font-size: 20px;
  color: #858585;
  right: 0;
  top: 22px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.filter_select {
  width: 320px;
  height: 48px;
  border-radius: 5px;
  padding: 0 15px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 24%);
  transition: all 0.2s;
  background-color: #fff;
}

@media (max-width: 600px) {
    .filter_service_input input {
        width: 220px;
    }
    .filter_select {
        width: 220px;
    }
}
@media (max-width: 536px) {
    .filter_service_input input {
        width: 170px;
    }
    .filter_select {
        width: 170px;
    }
}
@media (max-width: 414px) {
    .filter_service_input input {
        width: 150px;
    }
    .filter_select {
        width: 150px;
        font-size: 12px;
    }
    .filter_service_input input::placeholder {
        font-size: 10px;
        font-weight: 500;
        color: black;
      }
      .filter_service_input svg.search_outline {
        font-size: 14px;
      }
}
@media (min-width: 601px)  and (max-width: 780px){
    .filter_service_input input {
        width: 240px;
    }
    .filter_select {
        width: 240px;
        font-size: 12px;
    }
    
}
@media (min-width: 345px)  and (max-width: 375px){
    .filter_service_input input {
        width: 135px;
    }
    .filter_select {
        width: 135px;
        font-size: 12px;
    }
    
}